* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: initial;
  background: #faf8f5;
}

a {
  text-decoration: none;
}

button,
input {
  font-family: inherit;
}

































